@charset "utf-8";
/* CSS Document */

#ui-dialog{width:400px;margin:auto;display:none;}
.ui-dialog-wrapper{width:400px;position:fixed;top:90px;border:8px solid gray;background:#fc4e66;}
.ui-dialog-wrapper{border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
.ui-dialog-wrapper .ui-dialog-title{margin:0;padding:5px 15px;background:#e9495f;border-bottom:1px solid #c75665;}
.ui-dialog-wrapper .ui-dialog-title{font-size:13px;color:white;}
.ui-dialog-wrapper .ui-dialog-textarea{padding:10px 10px 0 10px;text-align:center;}
.ui-dialog-wrapper .quote-text{border:3px solid #c75665;width:360px;padding:4px;resize:none;height:100px;color:#333;outline:none;}
.ui-dialog-wrapper .quote-text{font-size:12px;font-family:tahoma;}
.ui-dialog-wrapper .ui-dialog-button{padding:10px;text-align:right;}
.ui-dialog-wrapper .ui-dialog-button button{padding:4px 6px;}